<!--Lijst van clubs -->
<div class="container-fluid">
    <!--Titel en club toevoegen knop-->
    <div class="row">
        <div class="col col-sm-3 float-left">
            <h1>Overzicht van clubs</h1>
        </div>
        <div class="col col-sm-9 float-right p-3">
            <div>
                <button type="button" class="btn btn-primary pull-right" (click)="showAddClubScreen(content, true)"><i
                        class="fa fa-plus pull-right" style="color:white; align-content:initial; "></i>
                    Club toevoegen
                </button>
            </div>
        </div>
    </div>
    <!--Lijst van clubs container-->
    <div class="overflow-auto">
        <div class="col col-sm-12">
            <div class="-hidden">
                <ul class="list-group">
                    <li class="w-auto p-3 list-group-item" *ngFor="let club of clubs">
                        <span role="button" class="p-2">{{club.club_ID}}</span>{{club.naam}}
                        <i role="button" class="fa fa-trash right marg_left fa-2x" style="color:red" 
                            aria-hidden="true" (click)="deleteClub(club)">
                        </i>
                        <i role="button" class="fa fa-pencil right marg_left fa-2x" style="color:rgb(60, 128, 238)"
                            aria-hidden="true" (click)="selectClub(club)" (click)="showModifyScreen(content,true)">
                        </i>
                        <i role="button" class="fa fa-search right marg_left fa-2x" style="color:rgb(65, 80, 66)" 
                            aria-hidden="true" routerLink="/clubs/{{club.club_ID}}">                         
                        </i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Pop up invoerscherm -->
<ng-template #content let-modal>
    <div class="modal-header">
        <span *ngIf="addClubScreenActive"><h6 class="modal-title" id="modal-basic-title">Nieuwe Club toevoegen</h6></span>
        <span *ngIf="modifyScreenActive"><h6 class="modal-title" id="modal-basic-title">Club wijzigen</h6></span>
        
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <!-- POP-UP BODY/ Invoervelden-->
    <div class="modal-body">
        <div class="row">
            <table class="table table">
                <tbody >
                    <tr *ngIf="modifyScreenActive">
                        <td>Club id</td>
                        <td><label>{{clubPlaceholder.club_ID}}</label></td>
                    </tr>               
                    <tr>
                        <td>Club naam</td>
                        <td *ngIf="modifyScreenActive"><input [(ngModel)]="clubPlaceholder.naam" value="{{clubPlaceholder.naam}}" /></td>
                        <td *ngIf="addClubScreenActive"><input [(ngModel)]="newClub.naam"/></td>
                    </tr>
                    <tr>
                        <td>Adres</td>
                        <td *ngIf="modifyScreenActive"><input [(ngModel)]="clubPlaceholder.adres" value="{{clubPlaceholder.ader}}" /></td>
                        <td *ngIf="addClubScreenActive"><input [(ngModel)]="newClub.adres"/></td>
                    </tr>
                    <tr>
                        <td>Plaats</td>
                        <td *ngIf="modifyScreenActive"><input [(ngModel)]="clubPlaceholder.plaats" value="{{clubPlaceholder.plaats}}" /></td>        
                        <td *ngIf="addClubScreenActive"><input [(ngModel)]="newClub.plaats"/></td>
                    </tr>
                    <tr>
                        <td>Postcode</td>
                        <td *ngIf="modifyScreenActive"><input  [(ngModel)]="clubPlaceholder.postcode" value="{{clubPlaceholder.postcode}}" /></td>
                        <td *ngIf="addClubScreenActive"><input [(ngModel)]="newClub.postcode"/></td>
                    </tr>
                    <tr>
                        <td>telefoonnummer</td>
                        <td *ngIf="modifyScreenActive"><input  [(ngModel)]="clubPlaceholder.telefoonNummer" value="{{clubPlaceholder.telefoonNummer}}" /></td>
                        <td *ngIf="addClubScreenActive"><input [(ngModel)]="newClub.telefoonNummer"/></td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td *ngIf="modifyScreenActive"><input  [(ngModel)]="clubPlaceholder.email" value="{{clubPlaceholder.email}}" /></td>
                        <td *ngIf="addClubScreenActive"><input [(ngModel)]="newClub.email"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Buttons van modal -->
    <div class="modal-footer modal-xl">
        <div class="container">
            <button type="button" class="btn btn-danger pull-left" (click)="modal.close('Save click')">cancel</button>
            <div *ngIf="addClubScreenActive; else updateButton">
                <button type="button" class="btn btn-success pull-right" (click)="modal.close('Save click')" (click)="addClub();">Opslaan
                </button>
            </div>

            <ng-template #updateButton>
                <button type="button" class="btn btn-success pull-right" (click)="modal.close('Save click')"
                    (click)="updateClub();">Wijzigingen opslaan
                </button>
            </ng-template>
        </div>
    </div>

</ng-template>