<h1>{{club.naam}}</h1>

<button type="button" (click)="getTeams(club.club_ID)">Bekijk beschikbare teams</button>

<div *ngIf="teams.length > 0; else noTeams">
    <h3>Beschikbare teams: </h3>
    <div class="row">
        <div class="col col-sm-3">
            <div class="overflow-auto">
                <div class="-hidden">
                    <ul class="list-group">
                        <li class="w-auto p-3 list-group-item" *ngFor="let team of teams">
                            <span class="p-2">{{team.team_ID}}</span>{{team.teamNaam}}
                            <i role="button" class="fa fa-search right marg_right" style="color:rgb(65, 80, 66)"
                                aria-hidden="true" (click)="selectTeam(team)">
                            </i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-sm-4"></div>
        <div *ngIf="selectedTeam != null;" class="container w-auto p-3 my-3 bg-dark text-white col col-sm-5">
            <h3>{{selectedTeam.teamNaam}}</h3>
            <div >
                
            </div>
        </div>
    </div>
</div>

<ng-template #noTeams>
    <h2>Geen teams beschikbaar </h2>
</ng-template>