.list-group{
    max-height: 500px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  .marg_left {
    line-height: 16px;
    margin-left: 50px;
  }
  
  .left {
    float: left;
  }
  
  .right {
     float: right;
  }
  
  .marg_right{
     margin-right:12px;
  }

  .div_bg-color{
    background-color: rgba(218, 209, 209, 0.459);
    border-top: px solid #ddd;
    border-radius: 0;
    color: rgb(44, 28, 7);
  }